<h1><%=@user.username %> </h1>


<%= render partial: "comments/form", locals: {type: "user", id: @user.id } %>
<ul>
  <% @comments.each do |comment| %>
  <li>
   <%= comment.body %>
   <%=remove_comment_button("user",comment) if comment.author_id == current_user.id %>
 </li>
  <% end %>

</ul>


<h3>Your Goals</h3>
<ul>
  <% @user.goals.each do |goal| %>
    <% if goal.user_id == current_user.id || !goal.private %>
    <li>
      <a href="<%=goal_url(goal)%>"><%=goal.title %></a>  <%= my_button_to(goal_url(goal),"remove goal", "delete") if current_user.id == goal.user_id %>
    </li>
    <% end %>
  <% end %>


</ul>
<%= my_button_to(new_goal_url,"Add Goal", "get") if current_user.id == @user.id %>
