<!DOCTYPE html>
<html>
<head>
  <title>Conquests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash[:errors].to_a.each do |error| %>
    <ul>
      <li> <%= error %> </li>
    </ul>
  <% end %>
  <ul>
    <% if logged_in? %>
      <li> Welcome, <%= current_user.username %> </li>
      <li> <%= my_button_to(session_url,"Log Out", 'delete') %> </li>
      <% else %>
      <li> <a href="<%= new_session_url %>">Sign In</a></li>
      <li> <a href="<%= new_user_url %>">Sign Up</a> </li>
    <% end %>
  </ul>
<%= yield %>

</body>
</html>
